@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Vazirmatn", sans-serif !important;
  direction: rtl;
}

#root {
  min-height: 100vh;
  max-width: 100vw;
  @apply dark:bg-dark bg-white;
}

.text {
  @apply dark:text-white text-dark;
}

.btn {
  @apply px-4 flex h-12 items-center justify-center font-semibold text-white bg-btn-dark dark:text-btn-dark dark:bg-btn-light w-full rounded-md relative text-xl;
}

.layout {
  @apply max-w-[400px] mx-auto p-2 w-full;
}

.offer-active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 50%;
  height: 50%;
  @apply dark:bg-dark bg-white;
}

h2 {
  @apply text-2xl text text-right;
}

p {
  @apply text-light;
}

/* ----------------------------- Carousel style ----------------------------- */

.mantine-Carousel-container {
  direction: ltr !important;
}

.mantine-Carousel-controls {
  flex-direction: row-reverse;
}

.hero .mantine-Carousel-control {
  @apply dark:text-dark text-dark bg-white;
}

.mantine-Carousel-control {
  @apply dark:text-white text-dark;
}

.mantine-Carousel-indicator {
  @apply bg-white;
}

.moveUpDownAnimation {
  animation: moveUpDown 0.6s alternate infinite;
  transform-origin: top;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20%);
  }
}

.mantine-qew57g {
  @apply dark:!text-white !text-dark !bg-transparent dark:!bg-white/5 !text-right;
}

.mantine-Select-dropdown {
  @apply dark:!bg-gray-700 !cursor-pointer;
}

.mantine-Select-item {
  @apply dark:!text-white !text-dark dark:hover:!text-dark !text-right;
}

.mantine-Select-label {
  @apply dark:!text-white !text-dark w-full text-right !font-black !mb-2 !text-base;
}

.mantine-Input-input {
  @apply !text-right !text-base !font-medium placeholder:!text-sm placeholder:!font-medium placeholder:!text-light;
}

.icon svg {
  @apply w-8 h-8 mb-3;
}

/* -------------------------------- Dashbaord ------------------------------- */

.dashboard .orders-table thead tr th {
  text-align: right !important;
}

.mantine-Image-image {
  @apply sm:max-w-[128px] object-contain;
}

/* --------------------------- Manitne Form Style --------------------------- */

.mantine-Radio-body {
  gap: 5px;
}

.mantine-Checkbox-body {
  gap: 8px;
}

.mantine-Group-root {
  gap: 5px;
}
